version: '3'

networks: 
  internal:
      driver: bridge

services:
  db:
    container_name: sqlserver
    image: mcr.microsoft.com/mssql/server:2019-latest    
    ports:
      - "1433:1433"   
    environment:
      SA_PASSWORD: "Pass123*"
      ACCEPT_EULA: "Y"       
    networks:
      - internal
      
  app:
    container_name: app
    image: netcoreapp
    build:
      context: .
    ports:
      - "5000:80"
    env_file: email.env
    networks:
      - internal
   

